<h1><%= @movie.title %></h1>
<p><%= @movie.description %></p>

<%= link_to "Edit", edit_movie_path(@movie) %>

<%= form_for @review do |f| %>
  <%= f.text_area :post %>
  <%= f.hidden_field :movie_id %>
  <div>
    <%= f.submit "Add review!" %>
  </div>
<% end %>

<ul>
  <% @reviews.each do |review| %>
    <li><%= review.post %></li>
  <% end %>
</ul>
