 <%= link_to "Add a new Painting!", new_painting_path %>


<%= form_tag "/search", method: "GET" do %>
  <%= label_tag :q, "Search By Title" %>
  <%= text_field_tag :q %>
  <%= submit_tag "Search" %>
<% end %>


<h1>All the Paintings!</h1>
<% @paintings.each do |painting| %>
  <section>
  	
    <h3>Title: <%= link_to painting.title, painting %></h3>
    <%= image_tag painting.image %>
    <p>Year: <%= painting.year%></p>
    <p>Style: <%= painting.style%></p>
    <p>Museum: <%= link_to painting.museum.name, painting.museum %></p>

    <hr>
  </section>
<% end %>

