<h1><%= @classified.title %> - <%= number_to_currency @classified.price %></h1>
<br/>
<h4>Seller Contact: <%= mail_to current_user.email, current_user.email, subject: "StuffFinder - #{@classified.title}" %></h4>

<br/>
<h4>Description:</h4>
<section class="well well-small">
  <div>
    <p class="lead"><%= @classified.description %></p>
  </div>
</section>

More from <%= link_to @classified.category.name, @classified.category %>
