<% if @painting.errors.any? %>
  <h2>There were errors saving your painting</h2>
  <ul>
    <% @painting.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @painting do |f| %>
  <fieldset>
    <div class='fields'>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class='fields'>
      <%= f.label :year %>
      <%= f.text_field :year %>
    </div>
    <div class='fields'>
  <%= f.label :style %>
  <%= f.select :style, [['Oil', "oil"],['Canvas','canvas'],['Water Color','water colors'], ['Fabric','fabric']] %>
    </div>
    <div class='fields'>
      <%= f.label :image %>
      <%= f.text_field :image %>
    </div>

    <div class='fields'>
      <%=f.label :museum %>
      <%= f.select :museum_id, Museum.all.collect {|museum| [ museum.name, museum.id] } %>
    </div>
  </fieldset>
  <%= f.submit %>
<% end %>

<br/>
