<h1>Painting Gallery</h1>

<h3><%= link_to "+ Add New Painting", new_painting_path %></h3>


<%= form_tag "/", method: "GET" do %>
  <%= text_field_tag :q %>
  <%= submit_tag "Search" %>
<% end %>

<br/><hr/>

<% if @paintings.any? %>

  <% @paintings.each do |painting| %>
    <section>
      <h3><b>Title</b>: <%= link_to painting.title, painting %></h3>
      <%= image_tag painting.image %>
      <p><b>Year</b>: <%= painting.year%></p>
      <p><b>Style</b>: <%= painting.style%></p>
      <p><b>Museum</b>: <%= link_to painting.museum.name, painting.museum %></p>

      <hr>
    </section>
  <% end %>

<% else %>

  <h4>Sorry, no paintings matched your query.</h4>

<% end %>
